@{
    
}
<h4></h4>

<div style="text-align: center; margin-top: 60px;">
    <address>
        <h4>
            CodeMark Programowanie i automatyka
        </h4>
        Adres:<br />
        ul. Lwowska 54 Lipsko <br />
        <abbr title="Phone">tel.: 789798465</abbr>
    </address>

    <address>
        <strong>Email</strong>   <a href="">codemark@example.com</a><br />
    </address>
</div>