@{
    ViewBag.Title = "CodeMark";
}

<div class="jumbotron">
    <h1>CodeMark</h1>
    <p class="lead">Programowanie i automatyka</p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Tutaj będzie opis firmy</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Programowanie</h2>
        <p>
            Tutaj będzie o programowaniu
        </p>
    </div>
    <div class="col-md-4">
        <h2>Automatyka</h2>
        <p>Tutaj o automatyce</p>
    </div>
    <div class="col-md-4">
        <h2>Elektryka</h2>
        <p>Elektryka</p>
    </div>
</div>
